@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'carbonBlack';
    src: url('src/fonts/carbon\ bl.otf');
    font-weight: normal;
    font-style: normal;
}

.card {
    scroll-margin-top: 60px;
    padding-bottom: 20px;
    display: flow-root;
}

.card h2 {
    clear: both;
    font-size: 30px;
    font-family: 'carbonBlack';
    padding: 15px 0 25px 30px;
}

.line {
    clear: both;
    width: 95%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 10px;
}

.line2 {
    clear: both;
    width: 100%;
    height: 3px;
    background-color: black;
    margin: 0 auto;
}

.card .video-texto {
    padding: 25px;
    align-items: center;
    text-align: center;
}

.card .video {
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}

.card p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 15px;
}

.card p strong {
    font-weight: 900;
}

.card .fotos {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.card .fotos img {
    width: 20%;
    height: 15vw;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

@media (max-width: 620px) {
    .card .video-hor {
        max-width: 100%;
        padding: 0;
    }

    .card .video-hor iframe {
        width: 100%;
        float: center;
        height: auto;
    }
}

@media (max-width: 520px) {
    .card .video {
        padding: 0;
        width: 100%;
    }

    .card .video iframe {
        width: 100%;
    }

    .card .fotos {
        padding: 0;
        margin: 0;
    }
}
