@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'carbonBlack';
    src: url('/src/fonts/carbon bl.otf');
    font-weight: normal;
    font-style: normal;
}

/* Reset / base */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
    font: inherit;
    font-weight: inherit;
    cursor: pointer;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Botão de Volta ao Topo  */

#backToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    width: 44px;
    height: 44px;
    text-align: center;

    border: none;
    border-radius: 50%;
    background: #7d4a47;
    color: #fff;
    opacity: 0.5;

    font-size: 1.2rem;
    /* cursor: pointer; */

    display: none;
    z-index: 999999;
}

#backToTop:hover {
    opacity: 0.8;
}

/* Layout geral */

body {
    background-color: #fee3f7;
}

.container {
    background-color: #feeae3;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* header */

header {
    text-align: center;
    display: contents;
}

.logo img {
    margin: 50px 0 20px 0;
    width: 50%;
}

/* footer */

footer {
    background-color: #ce8598;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

footer img {
    height: 30px;
    width: 30px;
    display: block;
}

footer p {
    margin: 0;
}

/* ----------------------------- RESPONSIVIDADE (mobile) ----------------------------- */

@media (max-width: 768px) {
    .all {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    #backToTop {
        display: block;
    }

    /* Header */

    .logo img {
        min-width: 150px;
    }
}