.card.card-impar {
    background-color: #cb96c4;
}

.card.card-impar .fotos {
    background-color: #4a4897;
}

.card.card-par {
    background-color: #f18a6b;
}

.card.card-par .fotos {
    background-color: #cd5887;
}

.card.card-par .video {
    float: right;
    padding-right: 0;
    padding-left: 20px;
}