.card {
    background-color: #b6d694;
}

.card .fotos {
    background-color: #95c5cb;
}

/* download relatório */

.download-relatorio {
    background-color: #ff5f5f;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}

.download-relatorio a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.download-relatorio img {
    width: 30px;
    height: auto;
    display: block;
}

.download-relatorio p {
    margin-top: 15px;
    font-size: 20px;
}