<link rel="stylesheet" href="src/styles/navbar.css">

<div class="nav-wrapper">
    <nav class="menu">
        <div class="menu-toggle" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <ul id="menu-list">
            <li><a>Início</a></li>
            <li><a>Projeto</a></li>
            <li><a>Oficinas</a></li>
            <li class="expo">
                <button class="submenu-toggle">A Exposição</button>
                <ul class="expo_submenu">
                    <li class="expo_subitem"><a>A Expografia</a></li>
                    <li class="expo_subitem"><a>Carimbos Sensíveis</a></li>
                    <li class="expo_subitem"><a>Sem Desconto</a></li>
                    <li class="expo_subitem"><a>Retomada</a></li>
                    <li class="expo_subitem"><a>Cidade Substantivo Feminino</a></li>
                    <li class="expo_subitem"><a>Mapa Solar</a></li>
                    <li class="expo_subitem"><a>Janelas</a></li>
                    <li class="expo_subitem"><a>Conto Cidade</a></li>
                    <li class="expo_subitem"><a>Performance Cidade Dorme</a></li>
                </ul>
            </li>
            <li><a>Intervenção Urbana</a></li>
            <li class="clipping">
                <button class="submenu-toggle">Clipping</button>
                <ul class="clipping_submenu">
                    <li class="clipping_subitem"><a href="https://www.youtube.com/watch?v=FVmv6Xx_sm4"
                            target="_blank">Exposição
                            "Cidade Sensível" no Fronteira Notícias</a></li>
                    <li class="clipping_subitem"><a
                            href="https://g1.globo.com/sp/presidente-prudente-regiao/noticia/2025/08/15/instalacao-bocas-do-rio-cancao-subterranea-reflete-processo-de-urbanizacao-e-canalizacao-do-corrego-do-veado-no-parque-do-povo-em-presidente-prudente.ghtml"
                            target="_blank">Instalação
                            “Bocas do Rio” no G1</a></li>
                    <li class="clipping_subitem"><a
                            href="https://federacaoprudentinadeteatro.blogspot.com/2025/06/pontao-de-cultura-galpao-da-lua-recebe.html"
                            target="_blank">Pontão
                            de Cultura Galpão da Lua recebe o Projeto Cidade Sensível</a></li>
                    <li class="clipping_subitem"><a href="https://www.youtube.com/live/PvjhUPLXa10"
                            target="_blank">Projeto “Cidade
                            Sensível” na Jovem Pan</a></li>
                    <li class="clipping_subitem"><a href="https://www.presidenteprudente.sp.gov.br/site/noticia/66147"
                            target="_blank">Prefeitura de
                            Presidente Prudente divulga a Exposição</a></li>
                    <li class="clipping_subitem"><a
                            href="https://inovaprudente.com.br/noticias/exposicao-cidade-sensivel-convida-o-publico-a--quotescutar-sentir-e-imaginar-quot-a-cidade-na-inova-prudente.html"
                            target="_blank">Fundação
                            Inova Prudente divulga a Exposição</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<script src="src/scripts/navbar.js"></script>