<link rel="stylesheet" href="src/styles/rodape.css">

<div id="rodape">
    <img src="src/img/rodape/rodape-completo.jpg" alt="Rodapé">
</div>

<div id="rodape_mobile">
    <div class="trecho">
        <h2 class="rodape-item rodape-titulo">FOMENTO:</h2>
        <img class="rodape-item rodape-logo-cumprido" src="src/img/rodape/proac-texture.png" alt="proac-sp">
    </div>

    <div class="trecho">
        <h2 class="rodape-item rodape-titulo">REALIZAÇÃO:</h2>
        <div class="subdivisao-logo">
            <img class="rodape-item rodape-logo-medio" src="src/img/rodape/cultsp.png" alt="">
            <img class="rodape-item sceic" src="src/img/rodape/govsp_sceic.png" alt="">
        </div>
    </div>
    <img class="rodape-item snc_hor" src="src/img/rodape/regua_aldir_snc_mincgov-sncmincgov-01.png" alt="">
    <img class="rodape-item snc_ver" src="src/img/rodape/regua_aldir_snc_mincgov-sncmincgov-02.png" alt="">
</div>